$tablet: 900px;
$phone: 480px;

.Hero__container {
  width: 100%;
  height: calc(100vh - 100px);
  background-size: cover;
  background-position: center center;
  background-attachment: fixed; 
  position: relative;
  overflow: hidden;
}
.hero__msg {
  position: absolute;
  width: 70%;
  height: calc(100vh - 200px);
  font-weight: bold;
  display: grid;
  place-items: center;
  z-index: 10;
  color: rgba(255, 255, 255, 0.8);
  text-align: left;
  user-select: none;
  @media screen and (max-width: $tablet) {
    width: 70%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
  h1{
    line-height: 3rem;
    letter-spacing: 3px;
    font-size: clamp(20px, 2vw, 54rem);
  }
}

.hero__msg button {
  position: relative;
  padding: 15px 40px;
  font-size: 36px;
  width: 300px;
  border-radius: 50px;
  border: none !important;
  outline: none !important;
  cursor: pointer;
  background: transparent;
  mix-blend-mode: difference;
  @media screen and (max-width: $tablet) {
    margin-top: 10px;
    width: 200px;
    font-size: 23px;
    padding: 10px 30px;
  }
  @media screen and (max-width: $phone) {
    font-size: 20px;
    width: 100%;
  }
  .green {
    color: #00f0b5;
    font-weight: bold;
    mix-blend-mode: difference;
    text-transform: uppercase;
  }
}

.hero__msg button::before {
  content: "";
  position: absolute;
  border: none;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  border-radius: 50px;
  width: 65px;
  height: 80%;
  background: #00f0b4;
  transition: all 0.85s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.hero__msg button:hover::before {
  background: #00f0b5;
  width: 100%;
  height: 100%;
}
@media screen and (max-width: $tablet) {
  .hero__msg button::before {
    height: 100%;
    border: 1px solid #00f0b4;
    background: transparent;
    width: 100%;
  }
}
