// @import "~bootstrap/scss/bootstrap";
.footer {
  padding: 50px 100px;
  background-color: #1b3753;
  border-top: 1px solid #5e88fc;
  color: #fff;
  transition: all 2s ease;
  @media (max-width: 768px) {
    margin-top: 0;
    padding-bottom: 0;
  }
  @media (max-width: 480px) {
    padding: 10px 20px 0px;
  }
  .section_left {
    height: 100%;
    text-align: center;
    img {
      width: 50%;
      object-fit: contain;
      @media (max-width: 480px) {
        margin-bottom: 10px;
      }
    }
    p {
      text-align: justify;
      max-height: 200px;
      margin-block: 10px;
    }
    .social_Icon {
      padding: 10px 0;
      transform: scale(1.1);
      display: flex;
      justify-content: space-around;
      & > * {
        cursor: pointer;
      }
    }
  }
  .section_middle {
    height: 100%;
    @media (max-width: 480px) {
      margin-top: 10px;
    }
    p {
      margin-bottom: 20px;
      text-align: center;
      font-size: 25px;
      font-weight: bold;
    }
    ul {
      list-style: none;
      padding: 0;
      max-height: 300px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      li {
        width: 90%;
        display: flex;
        margin: 10px auto;
        justify-content: space-around;
        span {
          width:80%;
          margin-left: 20px;
          text-align: center;
        }
      }
    }
  }
  .section_right {
    @media (max-width: 480px) {
      margin-top: 10px;
    }
    p {
      margin-bottom: 20px;
      text-align: center;
      font-size: 25px;
      font-weight: bold;
    }
    ul {
      list-style: none;
      padding-left: 0;
      max-height: 300px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      li {
        cursor: pointer;
        display: flex;
        border-bottom: 1px solid white;
        border-top: 1px solid white;
        margin-bottom: 30px;
        img {
          width: 30%;
          height: 80px;
          object-fit: cover;
          user-select: none;
        }
        div {
          width: 70%;
          text-transform: capitalize;
          text-align: left;
          background: white;
          color: black;
          position: relative;
          user-select: none;
          p {
            height: 50px;
            font-size: clamp(12px, 2vw, 16px);
            overflow: hidden;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
          }
          span {
            position: absolute;
            bottom: 5px;
            left: 10px;
            font-size: 12px;
            color: rgb(87, 85, 85);
          }
        }
      }
    }
  }
}
